<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Chat</h1>
   <input type="text" name="" id="message" placeholder="Mensagem"><br>
   <input type="text" name="" id="username" placeholder="Username"><br>
   <button onclick="enviar()">Enviar</button>
   <div id="chat">

   </div><br>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
    var socket = io("http://localhost:3000");

    socket.on("disconnect", () => {
        console.log("Desconectou-se: "+socket.id);
    })

    socket.on("showmessage", (data) => {
        const chat = document.getElementById("chat");
        var p = document.createElement("p")
        
        p.innerHTML = data.username + ": "+ data.message;

        chat.append(p);

        
    })

    function enviar(){
        const messageField = document.getElementById("message");
        const usernameField = document.getElementById("username");

        var message = messageField.value;
        var username = usernameField.value;

        socket.emit("message", {message: message, username: username});
    }


</script>
</html>